.negritas {
    font-weight: bold;
}

.centrado {
    text-align: center;
    margin: auto;
}

.clase {
    font-weight: bold;
    font-family: courier new;
    background-color: #e6e6e6;
    border-radius: 6px;
    padding: 0px 7px;
    font-size: 115%;
}

.codigo {
    font-weight: bold;
    font-family: courier new;
    font-size: 115%;
}

.nota {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    font-weight: bold;
    font-size: 95%;
}

span.nota {
    padding: 1em;
    padding-top: 0.5em;
    display: block;
    margin: 1.4rem 0;
    text-align: left;
    border: none;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: medium;
    border-top: .15rem solid #00a3da;
    box-shadow: 0 3px 12px 0 rgba(62, 60, 60, 0.51);
    background: #eaeaea;
    font-family: Nunito;
    width: 97%;
    font-size: 115%;
}

.post-title, .entry-title {
    color: #0070c0;
}



.titulo{
    font-weight: bold;
    color: #f49b16;
    font-size: 180%;
    text-transform: none;
    border-bottom: 1px solid #DDDDDD;
}

.anchorTitle,
.anchorTitle:visited {
    color: #f49b16 !important;
}

.anchorTitle:hover {
    color: rgb(204, 102, 0);
}

.subtitulo {
    font-weight: bold;
    color: rgb(204, 102, 0);
    font-size: 130%;
    border-bottom: 1px solid #DDDDDD;
}

.anchorSubtitle,
.anchorSubtitle:visited {
    color: rgb(204, 102, 0) !important;
}

.anchorSubtitle:hover {
    color: #f49b16;
}


.ligaArchivo {
    font-size: 85%;
    font-weight: bold;
    font-family: verdana;
}

body {
    text-align: justify;
}

pre {
    padding-top: 24px; /* Relleno - para ajustar Fondo */
}

pre code {
    overflow: auto; /* Determina si es necesario agregar barras de Scroll */
    background-color: #eeeeee; /* Color de Fondo en Hex */
    border: 1px dashed #000000; /* Color de Borde en Hex */
    color: #000000; /* Color de letra en Hex */
    display: block; /* No tocar */
    padding: 5px; /* Relleno del cuadro */
    white-space: pre; /* No tocar */
    text-align: left; /* Alineacion del Texto , left=izquierda, center= centrado, right=derecha */
    min-height: 63px; /* Altura minima del Cuadro */
    font-weight: bold;
}

table {
    overflow: auto;
    margin: auto;
}

th {
    text-align: center;
    background: #f49b16;
    color: black;
    border: 3px double;
    padding: 5px 10px 5px 10px;
}

td {
    border: 1px solid;
    padding: 5px 10px 5px 10px;
}